[SpeechToText]
apikey=xxxxxxxxx-xxxxx-xxxxx-xxxxxxxxxxx # pragma: allowlist secret
service_url=https://....
use_bearer_token=False

;max_threads=20

base_model_name=en-US_Telephony
;language_model_id=xxxxxxxxx-xxxxx-xxxxx-xxxxxxxxxxx
;grammar_name=
end_of_phrase_silence_time=1.5
inactivity_timeout=-1
speech_detector_sensitivity=0.5
background_audio_suppression=0.0
smart_formatting=False
low_latency=False
;customization_weight=0.1
;character_insertion_bias=0.1
;customization_weight=0.3
custom_transaction_id=False

#At most one of interim_results and audio_metrics can be True
interim_results=False
audio_metrics=False

[Transcriptions]
reference_transcriptions_file=reference_transcriptions.csv
stt_transcriptions_file=output/stt_transcriptions.csv
audio_file_folder=.

[ErrorRateOutput]
;Suggestion: Use same folders for both [ErrorRateOutput] and [Transcriptions] sections
;Columnar file with audio file name, transcriptions, error details
details_file=output/wer_details.csv
;JSON file with number of samples, total WER, total SER
summary_file=output/wer_summary.json
;Columnar file with word, total frequency, error count, error rather
word_accuracy_file=output/wer_word_accuracy.csv
;JSON file with STT output
stt_transcriptions_file=output/stt_transcriptions.csv
;Directory where sclite is installed if sclite is to be used for Analysis
;sclite_directory=

[Transformations]
remove_word_list=uh,uhuh,%hesitation,hesitation
;Suggestion: Use the defaults from below
lower_case=True
remove_punctuation=True
remove_multiple_spaces=True
remove_white_space=True
sentences_to_words=True
strip=True
remove_empty_strings=True
;If True, pre-processing stems words with Porter stemmer. Stemming will treat singular/plural of a word as equivalent, rather than a word error.
stemming=False

[Experiments]
sds_min=0.5
sds_max=0.5
sds_step=0.1
bias_min=0
bias_max=0.0
bias_step=0.1
cust_weight_min=0
cust_weight_max=0.3
cust_weight_step=0.1
bas_min=0
bas_max=0.0
bas_step=0.1